[submodule "pkgs/vyatta-op"]
	path = pkgs/vyatta-op
	url = https://github.com/osvx/vyatta-op.git
[submodule "pkgs/vyatta-cfg"]
	path = pkgs/vyatta-cfg
	url = https://github.com/osvx/vyatta-cfg.git
[submodule "pkgs/vyatta-op-firewall"]
	path = pkgs/vyatta-op-firewall
	url = https://github.com/osvx/vyatta-op-firewall.git
[submodule "pkgs/vyatta-cfg-firewall"]
	path = pkgs/vyatta-cfg-firewall
	url = https://github.com/osvx/vyatta-cfg-firewall.git
[submodule "pkgs/vyatta-op-quagga"]
	path = pkgs/vyatta-op-quagga
	url = https://github.com/osvx/vyatta-op-quagga.git
[submodule "pkgs/vyatta-cfg-quagga"]
	path = pkgs/vyatta-cfg-quagga
	url = https://github.com/osvx/vyatta-cfg-quagga.git
[submodule "pkgs/vyatta-cfg-system"]
	path = pkgs/vyatta-cfg-system
	url = https://github.com/osvx/vyatta-cfg-system.git
[submodule "pkgs/vyatta-config-migrate"]
	path = pkgs/vyatta-config-migrate
	url = https://github.com/osvx/vyatta-config-migrate.git
[submodule "pkgs/vyatta-nat"]
	path = pkgs/vyatta-nat
	url = https://github.com/osvx/vyatta-nat.git
[submodule "pkgs/vyatta-cluster"]
	path = pkgs/vyatta-cluster
	url = https://github.com/osvx/vyatta-cluster.git
[submodule "pkgs/vyatta-ravpn"]
	path = pkgs/vyatta-ravpn
	url = https://github.com/osvx/vyatta-ravpn.git
[submodule "pkgs/vyatta-cfg-vpn"]
	path = pkgs/vyatta-cfg-vpn
	url = https://github.com/osvx/vyatta-cfg-vpn.git
[submodule "pkgs/vyatta-bash"]
	path = pkgs/vyatta-bash
	url = https://github.com/osvx/vyatta-bash.git
[submodule "pkgs/vyatta-op-vpn"]
	path = pkgs/vyatta-op-vpn
	url = https://github.com/osvx/vyatta-op-vpn.git
[submodule "pkgs/vyatta-op-dhcp-server"]
	path = pkgs/vyatta-op-dhcp-server
	url = https://github.com/osvx/vyatta-op-dhcp-server.git
[submodule "pkgs/vyatta-cfg-dhcp-server"]
	path = pkgs/vyatta-cfg-dhcp-server
	url = https://github.com/osvx/vyatta-cfg-dhcp-server.git
[submodule "pkgs/vyatta-dhcp3-client"]
	path = pkgs/vyatta-dhcp3-client
	url = https://github.com/osvx/vyatta-dhcp3.git
[submodule "pkgs/vyatta-cfg-dhcp-relay"]
	path = pkgs/vyatta-cfg-dhcp-relay
	url = https://github.com/osvx/vyatta-cfg-dhcp-relay.git
[submodule "pkgs/ppp"]
	path = pkgs/ppp
	url = https://github.com/osvx/ppp.git
[submodule "pkgs/vyatta-cfg-op-pppoe"]
	path = pkgs/vyatta-cfg-op-pppoe
	url = https://github.com/osvx/vyatta-cfg-op-pppoe.git
[submodule "pkgs/vyatta-cfg-qos"]
	path = pkgs/vyatta-cfg-qos
	url = https://github.com/osvx/vyatta-cfg-qos.git
[submodule "pkgs/vyatta-op-qos"]
	path = pkgs/vyatta-op-qos
	url = https://github.com/osvx/vyatta-op-qos.git
[submodule "pkgs/vyatta-wanloadbalance"]
	path = pkgs/vyatta-wanloadbalance
	url = https://github.com/osvx/vyatta-wanloadbalance.git
[submodule "pkgs/vyatta-base"]
	path = pkgs/vyatta-base
	url = https://github.com/osvx/vyatta-base.git
[submodule "pkgs/vyatta-keepalived"]
	path = pkgs/vyatta-keepalived
	url = https://github.com/osvx/vyatta-keepalived.git
[submodule "pkgs/vyatta-busybox"]
	path = pkgs/vyatta-busybox
	url = https://github.com/osvx/vyatta-busybox.git
[submodule "pkgs/net-snmp"]
	path = pkgs/net-snmp
	url = https://github.com/osvx/net-snmp.git
[submodule "pkgs/vyatta-webgui"]
	path = pkgs/vyatta-webgui
	url = https://github.com/osvx/vyatta-webgui.git
[submodule "pkgs/vyatta-openvpn"]
	path = pkgs/vyatta-openvpn
	url = https://github.com/osvx/vyatta-openvpn.git
[submodule "pkgs/vyatta-quagga"]
	path = pkgs/vyatta-quagga
	url = https://github.com/osvx/vyatta-quagga.git
[submodule "pkgs/linux-image"]
	path = pkgs/linux-image
	url = https://github.com/osvx/linux-vyatta.git
[submodule "pkgs/vyatta-wirelessmodem"]
	path = pkgs/vyatta-wirelessmodem
	url = https://github.com/osvx/vyatta-wirelessmodem.git
[submodule "pkgs/initramfs-tools"]
	path = pkgs/initramfs-tools
	url = https://github.com/osvx/initramfs-tools.git
[submodule "pkgs/netplug"]
	path = pkgs/netplug
	url = https://github.com/osvx/netplug.git
[submodule "pkgs/ntp"]
	path = pkgs/ntp
	url = https://github.com/osvx/ntp.git
[submodule "pkgs/vyatta-ipv6-rtradv"]
	path = pkgs/vyatta-ipv6-rtradv
	url = https://github.com/osvx/vyatta-ipv6-rtradv.git
[submodule "pkgs/vyatta-netflow"]
	path = pkgs/vyatta-netflow
	url = https://github.com/osvx/vyatta-netflow.git
[submodule "pkgs/pmacct"]
	path = pkgs/pmacct
	url = https://github.com/osvx/pmacct.git
[submodule "pkgs/vyatta-wireless"]
	path = pkgs/vyatta-wireless
	url = https://github.com/osvx/vyatta-wireless.git
[submodule "pkgs/vyatta-biosdevname"]
	path = pkgs/vyatta-biosdevname
	url = https://github.com/osvx/vyatta-biosdevname.git
[submodule "pkgs/linux-firmware"]
	path = pkgs/linux-firmware
	url = https://github.com/osvx/linux-firmware.git
[submodule "pkgs/vyatta-lldp"]
	path = pkgs/vyatta-lldp
	url = https://github.com/osvx/vyatta-lldp.git
[submodule "pkgs/lldpd"]
	path = pkgs/lldpd
	url = https://github.com/osvx/lldpd.git
[submodule "pkgs/vyatta-conntrack-sync"]
	path = pkgs/vyatta-conntrack-sync
	url = https://github.com/osvx/vyatta-conntrack-sync.git
[submodule "pkgs/conntrack-tools"]
	path = pkgs/conntrack-tools
	url = https://github.com/osvx/conntrack-tools.git
[submodule "pkgs/vyatta-zone"]
	path = pkgs/vyatta-zone
	url = https://github.com/osvx/vyatta-zone.git
[submodule "pkgs/vyatta-config-mgmt"]
	path = pkgs/vyatta-config-mgmt
	url = https://github.com/osvx/vyatta-config-mgmt.git
[submodule "pkgs/vyatta-conntrack"]
	path = pkgs/vyatta-conntrack
	url = https://github.com/osvx/vyatta-conntrack.git
[submodule "pkgs/vyatta-vrrp"]
	path = pkgs/vyatta-vrrp
	url = https://github.com/osvx/vyatta-vrrp.git
[submodule "pkgs/vyatta-util"]
	path = pkgs/vyatta-util
	url = https://github.com/osvx/vyatta-util.git
[submodule "pkgs/vyatta-cron"]
	path = pkgs/vyatta-cron
	url = https://github.com/osvx/vyatta-cron.git
[submodule "pkgs/ubnt-igmpproxy"]
	path = pkgs/ubnt-igmpproxy
	url = https://github.com/osvx/vyos-igmpproxy.git
[submodule "pkgs/igmpproxy"]
	path = pkgs/igmpproxy
	url = https://github.com/osvx/igmpproxy.git
[submodule "pkgs/vyatta-cfg-op-pptp-client"]
	path = pkgs/vyatta-cfg-op-pptp-client
	url = https://github.com/osvx/vyatta-cfg-op-pptp-client
[submodule "pkgs/pptp-linux"]
	path = pkgs/pptp-linux
	url = https://github.com/osvx/pptp-linux.git

[submodule "pkgs/linux-meta-osvx"]
	path = pkgs/linux-meta-osvx
	url = https://github.com/osvx/linux-meta-osvx.git
[submodule "pkgs/osvx-opennhrp"]
	path = pkgs/osvx-opennhrp
	url = https://github.com/osvx/osvx-opennhrp.git
[submodule "pkgs/osvx-keyring"]
	path = pkgs/osvx-keyring
	url = https://github.com/osvx/osvx-keyring.git
[submodule "pkgs/dahdi-niistt"]
	path = pkgs/dahdi-niistt
	url = https://github.com/osvx/dahdi-niistt.git
[submodule "pkgs/dahdi-tools"]
	path = pkgs/dahdi-tools
	url = https://github.com/osvx/dahdi-tools.git
